$primary: #5571C6;
$secondary: #333333;
$success: #33cc99;
$info: #3366cc;
$warning: #ffcc00;
$danger: #ff6633;
$black: #333333;
$grey: #a29e9e;
$silver: #e5e5e5;
$light: #f4f4f4;
$lightBlue: #dae3f4;
$white: #ffffff;
$amber: #ffc000;
$cyan: #009999;
$fuschia: #e66dc9;
$poppy: #ff5743;
$semi: rgba(229, 229, 229, 0.5);
$transparent: rgba(0, 0, 0, 0);
$disabled: #b2c0cf;
$darkIndigo: #546FC9;
$lynch: #6B7897;
$mediumCyan: #4c8080;
$echoBlue: #A1B7CE;
$supernova: #FFBC42;
$labelColor: #13191F;
$subLabel: #8495AB;
$label:#516983;
$activeMenu: #1B2955;

:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  black: $black;
  grey: $grey;
  silver: $silver;
  light: $light;
  lightBlue: $lightBlue;
  white: $white;
  amber: $amber;
  cyan: $cyan;
  fuschia: $fuschia;
  poppy: $poppy;
  semi: $semi;
  transparent: $transparent;
  disabled: $disabled;
  darkIndigo: $darkIndigo;
  lynch: $lynch;
  mediumCyan: $mediumCyan;
  echoBlue: $echoBlue;
  supernova: $supernova;
  labelColor:$labelColor;
  subLabel:$subLabel;
  label:$label;
  activeMenu: $activeMenu
}
